@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
html{
    background-color: rgb(228, 228, 228);
    background-image: url("squirrel.jpg");
    font-family: 'Poppins', sans-serif;
}
/*Top bar is the navigation bar seen at the top of the webpage*/
#topbar {
    overflow: hidden;
}
#topbar a {
    float: right;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
/*Hover effect*/
#topbar a:hover {
    color: white;
    text-decoration-line: underline;

}
/*Form design*/
#formbox{
    margin-right: auto; 
    margin-left: auto; 
    width: 1200px;
    height: 600px;
    padding: 15px;
    padding-left: 60px;
    background-color: rgba(36, 13, 13, 0.815);
    border-radius: 15px;
    color: white;
}
/*Submit button*/
#submit{
    float: right;
    background: rgb(235, 203, 23);
	color: rgb(36, 13, 13);
	border-style: outset;
	border-color: rgb(235, 203, 23);
	height: 50px;
	width: 100px;
    font-size: 20px;
	text-shadow: none;
}
h3{
    color: rgb(235, 203, 23);
}
h4{
    color:rgb(173, 161, 92);
}
i{
    color: rgb(235, 203, 23);
}
/*for view history*/
.replist{
    margin-right: auto; 
    margin-left: auto; 
    width: 1200px;
    padding: 15px;
    padding-left: 60px;
    background-color: rgba(36, 13, 13, 0.815);
    border-radius: 15px;
    color: white;
    font-size:10px
}